<div>
  <input type="text" [(ngModel)]="inputValue" (keyup.enter)="search()" />
  <button mat-raised-button color="primary"(click)="goToAdd()">Add</button>
  <button mat-raised-button color="primary"(click)="toLimit()">Limit to 3</button>
</div>

<table>
  <tr>
    <th *ngFor="let header of headers">
      {{ header }}
    </th>
  </tr>

  <tr mat-header-row *ngFor="let header of headers">

  </tr>
  <tr mat-row *ngFor="let row; columns: displayedColumns;"></tr>

  <tr *ngFor="let entity of entities">

    <td *ngFor="let key of keys">{{ entity[key] }}</td>
    <td>
      <button mat-raised-button color="accent"(click)="editEntity(entity.id)">Edit</button>
      <button mat-raised-button color="warn" (click)="onDeleteEntity(entity.id)">Delete</button>
    </td>
  </tr>
</table>
